.video{
	width: 100%;
	background-image: url('../../image/Rectangle.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  center;
	color: #FFFFFF;
	position: relative;
	display: flex;
	flex-direction: column;
}