.specific__list{
	list-style-type: none;
	padding: 0;
	margin: 0 auto;

	max-width: 1110px;
	display: grid;
	column-gap: 30px;
	/* row-gap: 20px; */
  grid-template-columns: repeat(3, 350px);
	grid-template-rows: repeat(1, 544px);
	/* grid-auto-rows: 361px; */

	justify-content: center;
	border-bottom: 1px solid #E0E0E0;
	z-index: 2;
	margin-bottom: 85px;
	padding-bottom: 85px;
}

@media all and (max-width: 895px){
	.specific__list{
		max-width: 282px;
		grid-template-columns: repeat(1, 282px);
		grid-template-rows: repeat(6, 361px);
	}
}
